@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: #eda0ff;
  color: #fff;
  text-align: center;
  padding: .5em 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  color: #a0b7ff;
  text-align: center;
  margin: 0;
}

.definition {
  font-family: Roboto, sans-serif;
  color: #2f2d13;
}

.c {
  font-family: Roboto, sans-serif;
  font-size: .75rem;
  color: #2f2d13;
}

a:hover {
  background-color: #9291e8;
}

a {
  text-decoration: none;
  color: #fff;
  padding: .2em .5em .3em;
  display: block;
  background-color: #a0b7ff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  border-width: 1px;
  border-color: #9291e8;
  border-style: solid;
  width: 33.3333%;
  text-align: center;
}

header {
  background-color: #eda0ff;
}

footer {
  background-color: #eda0ff;
  text-align: center;
  padding: .75em;
}

body {
  margin: 0;
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.875rem;
}

main {
  padding: 0 .75em;
}

img {
  display: block;
  width: 100%;
}

.left,
.right {
  display: inline-block;
  width: 70px;
}

div {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.relative {
  position: relative;
}

.firstimage {
  padding-top: .75em;
}

.center {
  text-align: center;
}

.absolute {
  position: absolute;
  bottom: 1em;
  left: 0em;
  width: 100%;
  text-align: center;
}

.img-flex {
  padding-top: .75em;
  display: block;
  width: 100%;
}

.btn {
  text-align: left;
  font-size: 1.125rem;
}

.text {
  display: inline-block;
  text-align: left;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
}

.image {
  padding: 1em;
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
}

section {
  align-content: center;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
